<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>آف بوکز</title>

   
<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+SC:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>
<body>
    
    <div class>
        <div class="bg-maincolor" style="background-color: #074643;"><h6 class="text-white text-2xl font-bold py-4 px-8 uppercase lg:mx-20" style="padding-left: 32px; padding-right: 32px; padding-top: 16px; padding-bottom: 16px; font-size: 24px; font-weight: 700; text-transform: uppercase; color: #fff;">آف بوکز</h6></div>
        <div class="lg:mx-20 px-8 py-10" style="padding-left: 32px; padding-right: 32px; padding-top: 40px; padding-bottom: 40px;">
            <p class>با سلام <br> خوش آمدید به دنیایی از کتاب‌های جذاب و الهام بخش <br> امیدواریم که با حضور شما، سایت آف بوکز ، به یک مکان پر از دانش و سرگرمی تبدیل شود که هر روز شما را به دنیای جدیدی از کتاب‌ها و مطالعه هدایت کند</p>
            <p>برای تکمیل فرآیند ثبت‌نام و احراز هویت، لطفاً روی لینک ارسالی کلیک کنید تا حساب کاربری شما تأیید شود</p>
        </div>
        <div class="flex justify-center" style="display: flex; justify-content: center;"><a href="{{ ACTIVATION_URL }}" class="bg-maincolor text-white py-2 px-4 rounded-2xl" style="background-color: #074643; border-radius: 1rem; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; color: #fff;">تایید ایمیل</a></div>

    </div>
</body>
</html>